
<center><h1 class = "color_red"><%=@title%></h1></center>
<p id = "d1"><%= link_to "Logout", root_path%></p>
<%= form_for :registration do |f|%><br><br><br>

<div class ="cen">

	<center><table border=1>
		<tr>
			<td colspan="2"><label>NEW STUDENT ENTRY</label></td>
			<td><%= link_to "ENTRY" , new_curd_path%></td>
		</tr>

		<tr>
			<td colspan="2"><label>VIEW STUDENT DETAILS</label></td>
			<td><%= link_to  "VIEW_ENTRY" , curds_path%></td>
		</tr>

		</table></center>
</div>
<%end%>