<center><h1 class="color_red"><%=@title%></h1></center>

<%= form_for(@view) do |f|%>

	<center><div class="jumbotron">
	       <table cellpadding="10px">
		     <tr>
			    <td><label>ADMISSION NUMBER</label></td>&nbsp&nbsp 
				<td><%= f.text_field :adno%></td>
			</tr>	
				
			<tr>
			    <td><label>NAME</label></td>&nbsp&nbsp
				<td><%= f.text_field :name%></td>
				
			</tr>
				 
			 <tr>
				<td><label>GENDER</label></td>&nbsp&nbsp
				<td><%= f.select :gender, options_for_select([["MALE","Male"], ["FEMALE","Female"], ["OTHER","Other"]],selected: f.object.gender)%><br><br></td>
			</tr>
			
			<tr>
				<td><label>STANDARD</label></td>&nbsp&nbsp
			    <td><%= f.select :standard, options_for_select([["Class V","Fifth"], ["Class VI","Sixth"], ["Class VII","Seventh"],["Class VIII","Eight"], ["Class IX","Nineth"], ["Class X","Tenth"]],selected: f.object.standard)%><br><br></td>
			</tr>
			
					 
		</table>
		
		<%= f.submit "CONFIRM/UPDATE"%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<%= link_to "CANCEL", registration_path%>
	</div></center>
<% end %>